:root {
	--color-green: #31c48d;
	--color-white: #ffffff;
	--color-dark-grey: #33333d;
	--color-medium-grey: #424250;
	--color-light-grey: #9ca3ae;
}

* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	margin: 0;
	background-color: var(--color-medium-grey);
	color: var(--color-white);
	font-family: Roboto, Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* Header */

.header {
	text-align: center;
}

.header-title {
	font-size: 3rem;
	font-weight: 900;
	color: var(--color-light-grey);
}

/* Controls */

.controls {
	background: yellow;
}

/* Counter */

.counter {
	background: var(--color-dark-grey);
}

.counter-value {
	width: 100%;
	height: 15rem;
	text-align: center;
	font-size: 6rem;
	font-weight: 900;
	background: none;
	color: var(--color-white);
	border-width: 0;
	border-bottom: 1px solid var(--color-light-grey);
}

.counter-actions {
	display: flex;
}

.counter-button {
	background: none;
	width: 50%;
	border-width: 0;
	color: var(--color-white);
	font-size: 3rem;
	height: 10rem;
	border-bottom: 1px solid var(--color-light-grey);
	transition: transform 0.1s;
	transform: translateY(0);
}

.counter-button:disabled {
	opacity: 0.1;
}

.counter-button:active {
	background: var(--color-medium-grey);
	transform: translateY(2%);
}
.counter-button-first {
	border-right: 1px solid var(--color-light-grey);
}

/* Footer */

.footer {
	background-color: var(--color-dark-grey);
	color: var(--color-light-grey);
	padding: 2rem;
	font-size: 0.9rem;
	text-align: center;
}

.footer-link {
	color: var(--color-white);
}
